:root {

    /* BRAND */
    --primary: #5CAC5C;

    /* BACKGROUND */
    --bg-color: #dfdfdf;
    --bg-primary: #8ac28a;
    --bg-secundary: #3b4d3b;

    /* TEXT */
    --text-color: #111111;
    --text-color-inverted: #fdfdfd86;

    /* BACKGROUND */

    /* SURFACES */
    --surface: #FFFFFF;
    --card-bg: #c7c4c450;

    /* TEXT */
    --text-secondary: #555555;
    --text-muted: #888888;

    /* BORDER */
    --border: #E2E5E2;

    --fail:#ff0000a6;
    --success:var(--primary);
}